*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 210px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    min-height: 100vh;
}

aside {
    grid-area: aside;
    background-color: rgb(27, 27, 27);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid aliceblue;
    color: aliceblue;
}

.new-book {
    padding: 1rem 2rem;
    border-radius: 10px;
    font-weight: bold;
}

button:hover {
    background-color: grey;
    cursor: pointer;
}

header {
    grid-area: header;
    display: flex;
    gap: 1rem;
    background-color: black;
    padding: 1rem;
    justify-content: space-around;
    color: aliceblue;
    border: 1px solid aliceblue;
}

.left-header {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.right-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: inherit;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

main {
    grid-area: main;
    display: grid;
    background-color: rgb(27, 27, 27);
    color: aliceblue;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    padding: 1rem;
    gap: 1rem;
}

.book-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.book-form input[type="text"],
.book-form input[type="number"],
.book-form input[type="file"] {
    width: 100%;
    padding: 6px;
    border: 1px solid #bbb;
    border-radius: 6px;
    font: inherit;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.actions button {
    padding: .5rem 1rem;
    border-radius: 6px;
}

.book-card {
    padding: 1rem;
    border: 1px solid aliceblue;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-card {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.content-card button {
    border-radius: 6px;
}

.book-cover {
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 8px;
}

footer {
    grid-area: footer;
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding: 1rem;
    border: 1px solid aliceblue;
}