* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 210px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    min-height: 100vh;
}

aside {
    grid-area: aside;
    background-color: rgb(27, 27, 27);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid aliceblue;
    color: aliceblue;
}

.new-book {
    padding: 1rem 2rem;
    border-radius: 10px;
    font-weight: bold;
}

.new-book:hover {
    background-color: grey;
    cursor: pointer;
}

header {
    grid-area: header;
    display: flex;
    gap: 1rem;
    background-color: black;
    padding: 1rem;
    justify-content: space-around;
    color: aliceblue;
    border: 1px solid aliceblue;
}

.left-header {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.right-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

main {
    grid-area: main;
    background-color: rgb(27, 27, 27);
    color: aliceblue;
}

.book-card {
    padding: 1rem;
    border: 1px solid aliceblue;
}

footer {
    grid-area: footer;
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding: 1rem;
    border: 1px solid aliceblue;
}